version: '3.8'

services:
  web:
    build: .
    ports:
      - "8090:80"
    volumes:
      - ./:/var/www/html
    restart: always
    networks:
      - farming4-network

networks:
  farming4-network:
    driver: bridge
